* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: black;
}

.home-bar {
    width: 100%;
    height: 15%;
    background-color: rgb(0, 119, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.anime {
    height: 250px; 
    width: 170px;   
    display: flex;   
    justify-content: flex-start;
     gap: 30px;
     border: green;
}

.class {
    font-size: 14px;
    color: rgb(255, 255, 255);
    
    height: 70%; 
    width: 200px;   
    display: flex;   
    justify-content: flex-start; 
    flex-direction: column;
    border: 10px;
    border: green;
}

.busca {
    width:30%; /* Aumentando a largura para 80% da tela */
    height: 40px; /* Tamanho fixo para a altura da busca */
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens */
    justify-content: space-between; /* Distribui os itens igualmente com espaço entre eles */
    margin: 20px; /* Centraliza o elemento horizontalmente */
    background-color: white;
    border-radius: 25px; /* Bordas arredondadas */
    padding: 2px 10px; /* Adiciona espaçamento interno */
}

input {
    border: none;
    outline: none;
    width: 85%; /* O campo de input ocupa 85% da largura do contêiner */
    padding: 10px;
    font-size: 16px;
    height: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button img {
    width: 25px;
    height: 25px;
}
